.notnite-tip {
  padding: var(--space-8) var(--space-12);
  background-color: var(--background-surface-highest);
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-normal);
  box-shadow: var(--shadow-high);
  color: var(--text-strong);
  margin-bottom: 12px;
  align-items: center;
  line-height: 24px;
}
