.mediaControls {
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--space-xs) 0;
  margin: auto var(--space-xs);

  border-bottom: 1px solid var(--border-faint);
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;

  .visual-refresh & {
    background: unset !important;
  }
}
.theme-dark .mediaControls {
  background: var(--bg-overlay-1, var(--background-secondary-alt));
}
.theme-light .mediaControls {
  background: var(--bg-overlay-3, var(--background-secondary-alt));
}

.mediaControls-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 2rem;
}

.mediaControls-cover {
  height: 32px;
  /* align to the text and pfp below */
  margin-right: 8px;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 3px;
}

.mediaControls-labels {
  width: 100%;
}

.mediaControls-labels,
.mediaControls-labels div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mediaControls-interact {
  display: flex;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.mediaControls div[class$="-mediaBarInteraction"] {
  margin: var(--space-xs) 3px 0;
}
