@property --progress {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.mediaControls {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem;
  height: 2.5rem;

  /* account for the progress bar */
  padding-top: 0.75rem;

  background: linear-gradient(
      to right,
      var(--interactive-normal) var(--progress),
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    no-repeat 0 0/100%;
  background-size: 100% 0.25rem;
}

.mediaControls-cover {
  height: 32px;
  /* align to the text and pfp below */
  padding-right: 8px;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.mediaControls-labels {
  width: 100%;
}

.mediaControls-labels,
.mediaControls-labels div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mediaControls-interact {
  display: flex;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
