.imageViewer {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageViewer,
.imageViewer-image {
  pointer-events: none;
}

.imageViewer-container,
.imageViewer-toolbar {
  pointer-events: auto;
}

.imageViewer-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 2rem);
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imageViewer-toolbar-buttons {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.imageViewer-toolbar-label {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  z-index: 1;
}

.imageViewer-pixelate {
  image-rendering: pixelated;
}

.imageViewer-edit-zoom {
  max-width: 3rem;

  & > input {
    font-size: 14px !important;
  }
}

[class*="modalCarouselWrapper"] {
  cursor: auto !important;
}
